@charset "utf-8";

#footerwrap{width:100%;
			height:auto;
		    background:#363636;
			padding-top:5px;
			position:relative;}
#footer{margin:0 auto;
		width:1145px;
		position:relative;}

.mark{margin:20px 0 0 20px;}
.footermenu{overflow:hidden;
		    position:absolute;
			top:10px;
			left:250px;}
.footermenu li{float:left;
			   padding-left:20px;
			   background:url(../mainimg/footer_bar.jpg) no-repeat 10px 0;}
.footermenu li:first-child{background:none;
						   padding-left:10px;}
address{margin-left: 260px;
		color:#c1c1c1;
		}
.copy{margin:20px 0 0 260px;
	  color:#c1c1c1;}

