@charset "utf-8";
@import url(reset.css);
@import url(header.css);
@import url(footer.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanu.css);
.skip, legend, caption{width:1px;
					  height:1px;
					  font-size:0;
					  line-height:0;
					  overflow:hidden;
					  visibility:hidden;
					  position:absolute;
					  left:-999;}
fieldset{border:none;}
#container{width:1145px;
		   height:1200px;
		   margin:0 auto;
		   overflow:hidden;
		   font-family:"나눔고딕","NaNumGothic","돋움",Dotum,sans-serif;}
.lnb{width:242px;
	 float:left;}
.submenu{margin-top:10px;}
.quicksearch{width:242px;
			 height:134px;
			 background:#e1e1e1;
			 border:1px solid #c1c1c1;
			 float:left;
			 margin-top:30px;}
.quicksearch h3{margin:15px 0 0 35px;}
.quick1{margin:10px 0 0 40px;
		height:12px;}
.quick1 input, label{vertical-align:middle;}
.quick2{height:28px;
		margin:15px 0 0 30px;
		position:relative;}
.quicksearch .search_bg{border:none;
						background:url(../sub1img/quicksearch_field.gif) no-repeat 0px 0px;
					    width:135px;
					    height:28px;
						position:absolute;
						top:0;}
.quicksearch .search_img{position:absolute;
						 top:0;
						 right:30px;}


.contents{width:903px;
		  margin:0 auto;
		  float:right;
		  position:relative;}
.home{position:absolute;
  	  top:35px;
	  right:75px;
	  background:url(../sub1img/sub_homeicon.gif) no-repeat 0 0;
	  padding-left:20px;}
.home span{background:url(../sub1img/sub_go.gif) no-repeat 0 0;
		   padding-left:12px;}
.home span:first-child{background:none;
					   padding:0;}
.home .bold{font-weight:bold;}



.contents{position:relative;}
.contents h3{margin:94px 0 50px 80px;}
.contents fieldset{position:absolute;
				   top:200px;
				   right:100px;
				   width:260px;
				   height:36px;}
.search_bg{background:url(../sub4img/sub4_search_bg.gif) no-repeat 0 0;
		   width:185px;
		   height:36px;
		   padding-left:10px;
		   line-height:36px;
		   border:none;}
.search_img{margin-right:20px;}
input,img{vertical-align:middle;}

.sub4_contents_{position:relative;}
table{margin-top:10px;
	  font-size:14px;
	  border-bottom:2px solid #c3c3c3;
	  border-collapse:collapse;
	  width:683px;
	  position:absolute;
	  top:55px;
	  left:100px;}
tr{line-height:3;}
.date{text-align:center;}
th{background:#175079;
   color:#fff;
   border-bottom:1px solid #c3c3c3;}
td{border-bottom:1px solid #c3c3c3;
   padding-left:10px;
   text-align:center;}
.left{text-align:left;}
.icon3,.icon4,.icon7,.icon8,.icon9{background:url(../sub4img/sub4_icon.gif) no-repeat 10px 6px;}
.bold{font-weight:bold;}
.icon1,.icon5{background:url(../sub4img/sub4_gumi_icon.gif) no-repeat 10px 6px;}
.icon2,.icon6,.icon10{background:url(../sub4img/sub4_muzigae_icon.gif) no-repeat 10px 6px;}


.sub4_num_bt{position:relative;
			 position:absolute;
			 top:570px;
			 left:300px;
			 width:300px;}
.icon_prev{position:absolute;
		   top:0;
		   left:0;}
.icon_nxt{position:absolute;
		   top:0;
		   right:0;}
.num{margin: 3px 0 0 30px;}
.num span{margin-left:10px;
		  font-size:14px;}
.num span:first-child{margin-left:5px;}
.now{color:#0063ad;
	 font-weight:bold;}