@charset "utf-8";

.phone{display:none;}
.pad{display:none;}


#wrap{width:100%}
#header, #container, #footer{width:100%;}
.header_top{border-bottom:1px solid #959595;}
.top_wrap{width:1300px;
		  height:23px;
		  margin:10px auto;
		  position:relative;}
.inline_block{position:absolute;
			  top:0;
			  right:0;}
.inline_block span{margin-left:10px;}

.h1_wrap{width:100%;
		 height:50px;
		 margin:1% 0;
		 text-align:center;}
h1.no_phone{display:inline-block;}
h1.no_phone img{width:90%;
				height:50%}
h1.phone img{margin:3% 0 3% 15%}

.nav{border-top:2px solid #ccc;}
.gnblist{overflow:hidden;
		 text-align:center;
		 background:url(../images/gnb_back.gif) repeat 0 0;}
.gnblist > li{float:left;
			  width:25%;}
.gnblist > li > a{background:#fff;
				  display:block;
				  height:20px;
				  padding:10px 0 13px 0;}
.gnblist > li > ul{width:46%;
				   margin: 10px 28% 10px 26%;
				   font-size:13px;
				   line-height:2.5;
				   font-weight:bold;
				   letter-spacing:-1px;
				   display:none;}
.gnblist > li > ul > li a{color:#565656;}
.gnblist > li > ul > li a:hover{text-decoration:underline}
.gnblist > li > ul > li > ul{text-align:left;
							 font-size:12px;
							 line-height:1.8;
							 padding-left:15%}

/*pad*/

.top_wrap{overflow:hidden;}
.top_wrap span{float:left;
			   margin-right:5px}
#wrap{position:relative;}
#wrap .pad_gnb{overflow:hidden;
		 z-index:999;
		 background:white;
		 position:absolute;
		 top:92px;
		 left:0;
		 width:100%;
		 height:505px;
		 border-bottom:1px solid #ccc;
		 display:none;}
.pad_gnb > li{float:left;
			  width:50%;
			  height:240px;
			  font-size:14px;
			  font-weight:bold;
			  text-align:center;
			  line-height:2}
.pad_gnb > li a{color:#454545;}
.pad_gnb > li a:hover{text-decoration:underline;}
.pad_gnb > li > a{background:#ccc;
				  width:100%;
				  display:inline-block;
				  font-size:15px;
				  padding:8px 0;}
.pad_gnb > li > ul{padding:10px 0}
.pad_gnb > li > a:hover{text-decoration:none;}
.h1{position:relative;}
.h1_wrap span{width:65px;
			  padding:15px 0;
			  background:#636363;
			  position:absolute;
			  top:0;
			  left:0;}

.nav .gnblist .pad{width:50%;}
