
@charset "utf-8";
body,aside,div,a, header,table,thead,td,th,tr,tbody,caption, p, img, span, h1,h2,h3,h4,nav,ul,li,fieldset,legend,input,select,label,section,article{margin:0; padding:0;}

img{border:none;
	vertical-align:top;}
ul{list-style:none;}
a:link,a:visited{text-decoration:none;
				 color:#333;}
a:hover, a:active{text-decoration:none;
				 color:#333;}
@font-face {
    font-family:'Nanum';
    font-weight:400;
    src: url('font/NanumGothic.eot');
    src: url('font/NanumGothic.eot?#iefix') format('embedded-opentype'),
         url('font/NanumGothic.woff') format('woff'),
		 url('font/NanumGothic.ttf') format('truetype');
}
@font-face {
    font-family:'NanumBold';
    font-weight:600;
    src: url('font/NanumGothicBold.eot');
    src: url('font/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
         url('font/NanumGothicBold.woff') format('woff'),
		 url('font/NanumGothicBold.ttf') format('truetype');
}
@font-face {
    font-family:'NanumEX';
    font-weight:900;
    src: url('font/NanumGothicExtraBold.eot');
    src: url('font/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
         url('font/NanumGothicExtraBold.woff') format('woff'),
		 url('font/NanumGothicExtraBold.ttf') format('truetype');
}
body{font-family:'Nanum',"나눔고딕","돋움",dotum;
	 font-size:12px;
	 color:#333;}
.skip, legend, caption{width:1px;
	  height:1px;
	  overflow:hidden;
	  visibility:hidden;
	  font-size:0;
	  line-height:0;
	  position:absolute;
	  left:-999px;}

  #skipMenu{position:absolute;
			z-index:999;
			width:100%;}
  #skipMenu a{position:absolute;
			   top:-100px;}
  #skipMenu a:hover,
  #skipMenu a:active,
  #skipMenu a:focus{position:absolute;
					top:0;
					width:100%;
					height:15px;
					padding:5px;
					background:#333;
					color:#fff;
					text-align:center;
					display:block;}

 fieldset{border:none;}