@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanu.css);
body,div,a,img,ul,li,h1,h2,h3,form,fieldset,legend,p,input,label,select,address,br,span,table,caption,colgroup,tbody,tr,th,td{margin:0; padding:0;}
body{font-size:12px;
	 font-family:"³ª´®°íµñ","NanumGothic","±¼¸²",Gulim,sans-serif;
	 color:#333;}
img{border:none;}
a:link, a:hover{text-decoration:none;
			    color:#333;}
a:active, a:visiter{text-decoration:underline;
					color:#333;}
ul{list-style:none;}
address{font-style:normal;}
.skip{width:1px;
	  height:1px;
	  overflow:hidden;
	  visibility:hidden;
	  position:absolute;
	  left:-999;
	  line-height:0;
	  font-size:0;}